body {
  margin: 0;
}

#renderer-root {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: absolute;
}

#controls {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 20em;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}
